@model IEnumerable<NetCw.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Date and Time
        </th>
        <th>
            Subject Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            <a href="/Events/Edit/@item.EventID" class="btn btn-info">Edit</a>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#@item.EventID">Details</button>
            <a href="/Events/Delete/@item.EventID" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

     @foreach (var lol in Model)
    {
        @Html.Partial("_EventDetails", lol);
    }

</table>